.list-index-wrapper {
  margin-top: 40px;
}

.list-preview {
  background-color: rgba($blue, 0.3);
  border-radius: 10px;

  padding-top: 15px;
  padding-bottom: 15px;

  margin: 15px;
  float:none !important;

  a {
    margin: 0;
    box-sizing:border-box;
  }

  &:hover {
    background-color: rgba($blue, 0.4);
  }
}
