{%extends 'layouts/base.html'%}
{%block body%}
<div class="row">

    {% if not lists %}
      <h1 class='text-center'>Create a new List</h1>

      <h5 class='text-center'>You currently don't have any lists, create some to view your lists</h5>
      <a href="{{url_for('list.new')}}" class="button expand">New List</a>
    {% else %}
    <h1 class='text-center text-bold'>Your Lists</h1>

    <div class="list-index-wrapper small-12 columns">
      {% for a_list in lists %}
        <div class="small-12 large-12 columns list-preview">

          <a href="{{ url_for('list.show',list_id=a_list.id) }}" class='text-center'>
            {{a_list.title}} <span onclick="deleteList(event,$(this),{{a_list.id}})" class="fi-minus right red-link"></span>
          </a>

        </div>
      {%endfor%}
    </div>
    <!-- / .list-index-wrapper -->

    <div class="small-12 large-12 columns">
      <a href="{{url_for('list.new')}}" class="button round small primary bottom right" id="btn-create-list-rounded">Create list</a>
    </div>

    {% endif %}


</div>
<!-- / .row -->

{%endblock%}
